@import "tailwindcss";

@font-face {
  font-family: 'Glitten';
  src: url('/fonts/Glitten-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --color-gold: #dbb374;
  --color-gold-hover: #c99f5e;
  --color-dark: #0a1c17;
  --color-dark-overlay: rgba(10, 28, 23, 0.75);
  
  --font-serif: "Glitten", serif;
  --font-sans: "Poppins", sans-serif;
  
  /* Custom Font Utilities */
  --font-glitten: "Glitten", serif;
  --font-lato: "Lato", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-dark;
  }
}
